<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.randstad.system.mapper.OrgMapper" >
	<resultMap id="OrgBaseMap" type="com.randstad.system.entity.Org" >
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
		<result column="ORG_LEVEL" property="orgLevel" jdbcType="INTEGER" />
		<result column="ORG_PATH" property="orgPath" jdbcType="VARCHAR" />
		<result column="ORG_STATUS" property="orgStatus" jdbcType="INTEGER" />
		<result column="ORDER_NO" property="orderNo" jdbcType="INTEGER" />
		<result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="OrgMap" type="com.randstad.system.entity.Org" extends="OrgBaseMap" >
		<!-- to add extended property -->
	</resultMap>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="com.randstad.system.entity.Org">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
			SELECT SCOPE_IDENTITY()
		</selectKey>
		insert into T_ORG ( ORG_CODE, ORG_NAME, PARENT_ID, 
			ORG_LEVEL, ORG_PATH, ORG_STATUS, 
			ORDER_NO, CREATE_BY, CREATE_DATE, 
			UPDATE_BY, UPDATE_DATE )
		values ( #{orgCode, jdbcType=VARCHAR}, #{orgName, jdbcType=VARCHAR}, #{parentId, jdbcType=BIGINT}, 
			#{orgLevel, jdbcType=INTEGER}, #{orgPath, jdbcType=VARCHAR}, #{orgStatus, jdbcType=INTEGER}, 
			#{orderNo, jdbcType=INTEGER}, #{createBy, jdbcType=BIGINT}, #{createDate, jdbcType=TIMESTAMP}, 
			#{updateBy, jdbcType=BIGINT}, #{updateDate, jdbcType=TIMESTAMP} )
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.randstad.system.entity.Org" >
		update T_ORG
		set ORG_CODE = #{orgCode, jdbcType=VARCHAR}, 
			ORG_NAME = #{orgName, jdbcType=VARCHAR}, 
			PARENT_ID = #{parentId, jdbcType=BIGINT}, 
			ORG_LEVEL = #{orgLevel, jdbcType=INTEGER}, 
			ORG_PATH = #{orgPath, jdbcType=VARCHAR}, 
			ORG_STATUS = #{orgStatus, jdbcType=INTEGER}, 
			ORDER_NO = #{orderNo, jdbcType=INTEGER}, 
			CREATE_BY = #{createBy, jdbcType=BIGINT}, 
			CREATE_DATE = #{createDate, jdbcType=TIMESTAMP}, 
			UPDATE_BY = #{updateBy, jdbcType=BIGINT}, 
			UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP}
		where ID = #{id, jdbcType=BIGINT}
	</update>
	
	<!-- 按主键删除 -->
	<delete id="deleteById" parameterType="java.lang.Long" >
		delete from T_ORG
		where ID = #{value, jdbcType=BIGINT}
	</delete>

	<sql id="Base_Column_List" >
		T_ORG.ID, T_ORG.ORG_CODE, T_ORG.ORG_NAME, T_ORG.PARENT_ID, T_ORG.ORG_LEVEL, 
		T_ORG.ORG_PATH, T_ORG.ORG_STATUS, T_ORG.ORDER_NO, T_ORG.CREATE_BY, T_ORG.CREATE_DATE, 
		T_ORG.UPDATE_BY, T_ORG.UPDATE_DATE
	</sql>
	
	<sql id="Column_List">
		<include refid="Base_Column_List" />
	</sql>
	
	<!-- 按主键查询 -->
	<select id="findById" resultMap="OrgMap" parameterType="java.lang.Long" >
		select 
		<include refid="Column_List" />
		from T_ORG 
		where T_ORG.ID = #{value, jdbcType=BIGINT}
	</select>
	
	<sql id="Where_By_Params" >
		<trim prefix="WHERE" prefixOverrides="AND|OR" >
			<if test="orgId != null" >
				AND T_ORG.ID = #{id, jdbcType=BIGINT}
			</if>
			<if test="orgCode != null" >
				AND T_ORG.ORG_CODE = #{orgCode, jdbcType=VARCHAR}
			</if>
			<if test="orgName != null" >
				AND T_ORG.ORG_NAME = #{orgName, jdbcType=VARCHAR}
			</if>
			<if test="parentId != null" >
				AND T_ORG.PARENT_ID = #{parentId, jdbcType=BIGINT}
			</if>
			<if test="orgLevel != null" >
				AND T_ORG.ORG_LEVEL = #{orgLevel, jdbcType=INTEGER}
			</if>
			<if test="orgPath != null" >
				AND T_ORG.ORG_PATH = #{orgPath, jdbcType=VARCHAR}
			</if>
			<if test="orgStatus != null" >
				AND T_ORG.ORG_STATUS = #{orgStatus, jdbcType=INTEGER}
			</if>
			<if test="orderNo != null" >
				AND T_ORG.ORDER_NO = #{orderNo, jdbcType=INTEGER}
			</if>
			<if test="createBy != null" >
				AND T_ORG.CREATE_BY = #{createBy, jdbcType=BIGINT}
			</if>
			<if test="createDate != null" >
				AND T_ORG.CREATE_DATE = #{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null" >
				AND T_ORG.UPDATE_BY = #{updateBy, jdbcType=BIGINT}
			</if>
			<if test="updateDate != null" >
				AND T_ORG.UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP}
			</if>
			
			<include refid="Where_Clause" />
		</trim>
	</sql>
	
	<sql id="Where_Clause">
		
	</sql>
	
	<!-- 按参数统计 -->
	<select id="countByParams" resultType="java.lang.Integer" parameterType="Map" >
		select count(1) 
		from T_ORG
		<include refid="Where_By_Params" />
	</select>
	
	<!-- 按参数查询 -->
	<select id="findByParams" resultMap="OrgMap" parameterType="Map" >
		select 
		<include refid="Column_List" />
		from T_ORG
		<include refid="Where_By_Params" />
		<choose>
			<when test="orderByClause != null">
				order by ${orderByClause}
			</when>
			<otherwise>
				order by ID
			</otherwise>
		</choose>
	</select>
</mapper>